@model IEnumerable<HolidayApp.Models.Aplications>


<br />
<p>
    @Html.ActionLink("Dodaj", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HolidayStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HolidayStop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DayOffSum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HolidayType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Workers.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departments.DepartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status.Status1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HolidayStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HolidayStop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DayOffSum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HolidayType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Workers.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departments.DepartmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status.Status1)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.AplicationID }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.AplicationID }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.AplicationID })
        </td>
    </tr>
}

</table>
